name: Deploy

on:
    push:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
    group: "pages"
    cancel-in-progress: false

env:
    # web_sys_unstable_apis is required to enable the web_sys clipboard API which eframe web uses,
    # as well as by the wasm32-backend of the wgpu crate.
    # https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.Clipboard.html
    # https://rustwasm.github.io/docs/wasm-bindgen/web-sys/unstable-apis.html
    RUSTFLAGS: --cfg=web_sys_unstable_apis -D warnings

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            pages: write # to deploy to Pages
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - uses: actions/checkout@v4
            - name: Setup Pages
              uses: actions/configure-pages@v5
              with:
                  enablement: true
            - uses: jetli/trunk-action@v0.5.0
            - uses: jetli/wasm-bindgen-action@v0.2.0
            - name: Set up cargo cache
              uses: Swatinem/rust-cache@v2
            - name: Build
              run: trunk build --release --public-url ./ --dist ../dist/
            - uses: taiki-e/install-action@cargo-llvm-cov
            - name: Run coverage
              run: |
                  cargo llvm-cov --all --html --no-cfg-coverage
                  rsync -a target/llvm-cov/html/ dist/coverage/
                  chmod -R +rx dist/coverage/
            - name: Setup mdBook
              uses: peaceiris/actions-mdbook@v2
            - name: build mdBook
              run: mdbook build docs/
            # https://github.com/actions/deploy-pages/issues/303
            - name: build crates docs
              run: |
                  cargo doc --all --no-deps
                  rsync -a target/doc/ dist/crates/
                  rm dist/crates/.lock
            - name: Upload coverage artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "dist"
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
